<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Velov Interactive</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>

    <script src="test/leaflet.markercluster.js"></script>

    <link  rel="stylesheet" href="customcss/custom.css">
    <link  rel="stylesheet" href="test/MarkerCluster.css">
    <link  rel="stylesheet" href="test/MarkerCluster.Default.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <script>
        var crd;

        function success(pos) {
            crd = pos.coords;
        }

        navigator.geolocation.getCurrentPosition(success);
        console.log(crd);
    </script>
</head>
<body class="container-fluid">
<header>
    <ul>
        <li><a href="/">Station Velov</a></li>
        <li><a href="/lieux-balade">Lieux de balade</a></li>
        <li><a href="/lieux-touristique">Lieux touristiques</a></li>
        <li><a href="/pipi">Toilettes publiques</a></li>

    </ul>
</header>
{% block content %}
{% endblock %}
<p class="text-center">
    Projet universitaire
</p>
</body>
</html>






