<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Velov Interactive</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>

    <script src="test/leaflet.markercluster.js"></script>

    <link  rel="stylesheet" href="customcss/custom.css">
    <link  rel="stylesheet" href="test/MarkerCluster.css">
    <link  rel="stylesheet" href="test/MarkerCluster.Default.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container-fluid">
{% block content %}
{% endblock %}
<p class="text-center">
    Projet universitaire
</p>
</body>
</html>






