{% extends "layout.html" %}

{% block content %}

<script>
    var toilettes =[];



    {% for MongoOBJ in toilettes_pub %}

    var TempToillet =  new Object();

    var coord = '{{ MongoOBJ.geometry.coordinates }}';
    TempToillet.coord = '{{ MongoOBJ.geometry.coordinates }}';
    var splitcoord = coord.split(',');

    TempToillet.latitude = splitcoord[1];
    TempToillet.longitude = splitcoord[0];

        {% for MarkerDetail in MongoOBJ.properties %}

            TempToillet.commune = '{{ MarkerDetail.commune }}';

            TempToillet.identifiant = '{{ MarkerDetail.identifiant }}';

        {% endfor %}

    toilettes.push(TempToillet);
    {% endfor %}


</script>
<div id="map">
    <!-- Ici s'affichera la carte -->
</div>


<div class="container">
    <div class=" row">
        <h2 class="col-md-12 custom_h2"> Liste des toilettes publiques</h2>
        <hr>
        {% for MongoOBJ in toilettes_pub %}
            {% for MarkerDetail in MongoOBJ.properties %}
                <div class="card custom_card">
                    <div class="card-body">
                        <h5 class="card-title">{{ MarkerDetail.identifiant }}</h5>
                        <p class="card-text">Observation : {{ MarkerDetail.observation }} <br/></p>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>


<script type="text/javascript">
    // Backup
    var crd_latitude = 45.7542305;
    var crd_longitude= 4.8386187 ;
    var lat;
    var lon;



    // On initialise la latitude et la longitude(centre de la carte)
    if (crd === undefined){
        lat = crd_latitude;
        lon = crd_longitude;
    }else {
        lat = crd.latitude;
        lon = crd.longitude;
    }


    var macarte = null;

    var cssIcon = L.divIcon({
        className: 'css-icon',
        html: '<div class="gps_ring"></div>'
        ,iconSize: [22,22]
    });

    // Fonction d'initialisation de la carte
    function initMap() {
        // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
        macarte = L.map('map').setView([lat, lon], 14);
        // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            // Il est toujours bien de laisser le lien vers la source des données
            minZoom: 1,
            maxZoom: 20
        }).addTo(macarte);

        var marker_current_pos;

        if (crd === undefined){
            var marker_current_pos = L.marker(new L.LatLng(crd_latitude, crd_longitude), {icon: cssIcon}, { title: 'MyCurrentPosition' });
        }else {
            marker_current_pos = L.marker(new L.LatLng(crd.latitude, crd.longitude), {icon: cssIcon}, { title: 'MyCurrentPosition' });
        }

        marker_current_pos.addTo(macarte);
        marker_current_pos.bindPopup('<h2><b> Vous êtes ici ! </b></h2>');


        var markers = L.markerClusterGroup();
        for (var i = 0; i < toilettes.length; i++) {

            var marker;
            marker = L.marker(new L.LatLng(toilettes[i].latitude, toilettes[i].longitude), { title: toilettes[i].identifiant });

            var mystring = "<b>" + toilettes[i].identifiant + "</b><br/>" + "Observation : " + toilettes[i].observation +"<br/>" ;
            marker.bindPopup(mystring);

            markers.addLayer(marker);
        }
        macarte.addLayer(markers);

    }
    window.onload = function(){
        initMap();
    };

</script>







{% endblock %}

