#map{
    height:85vh;
}
hr{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}
.custom_card{
    width: 31%;
    margin: 1%;
}

.custom_legend{
    width: 323px;
    position: absolute;
    bottom: 95px;
    right: 15px;
    z-index: 1000;
    opacity: 0.8;
}
.custom_legend>li>img{
    height: 45px;
    padding-right: 10px;
}

.custom_h2{
    margin: 0;
    padding: 30px 30px 10px 0;
    border-bottom: 1px solid grey;
}

.gps_ring {
    border: 3px solid red;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
header ul{
    text-align: right;
}
header li{
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    color: black;
    text-align: center;
    background-color: white;
    transition: 0.3s;
}
header a{
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: white;
    color: grey;
    transition: 0.3s;
}
header li a:hover{
    color: white;
    text-underline: none;
    text-decoration: none;
    transition: 0.3s;
    background-color: grey;
}
